*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right,#d7d5d5 50%, #d7d5d5 50%);
}

/* Main Container */
.container{
    width:900px;
    height:550px;
    display:flex;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* Left Login Section */
.login-section{
    width:50%;
    padding:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.logo{
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
}
.logo img {
    height: 60px;   
}


.login-section h1{
    font-size:28px;
    margin-bottom:10px;
}

.login-section p{
    color:#777;
    margin-bottom:30px;
}

.input-group{
    position:relative;
    margin-bottom:20px;
}

.input-group input{
    width:100%;
    padding:12px 40px;
    border-radius:8px;
    border:1px solid #ddd;
    outline:none;
}

.input-group i{
    position:absolute;
    left:12px;
    top:12px;
    color:#888;
}

.forgot{
    text-align:right;
    font-size:14px;
    margin-bottom:20px;
    color:#888;
    cursor:pointer;
}

.login-btn{
    background:#ff5a00;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    margin-bottom:20px;
    transition:0.3s;
}

.login-btn:hover{
    background:#e64a00;
}

.signup{
    text-align:center;
    margin-bottom:15px;
}

.signup span{
    color:#ff5a00;
    font-weight:600;
    cursor:pointer;
}

.or{
    text-align:center;
    margin:10px 0;
    color:#888;
}

.social-icons{
    display:flex;
    justify-content:center;
    gap:15px;
}

.social-icons i{
    background:#eee;
    padding:10px;
    border-radius:50%;
    cursor:pointer;
}

/* Right Image Section */
.image-section{
    width:50%;
    background:url('https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e') no-repeat center;
    background-size:cover;
}