body {
    margin: 0;
    font-family: Arial;
}
body {
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 60px;   
}

.search input {
    padding: 8px 15px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.right a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}
/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background: #f3ede7;
    
}

.hero-text h1 {
    font-size: 48px;
    margin: 0;
}

.hero-text h2 {
    font-size: 60px;
    margin: 10px 0;
}

.hero-text span {
    color: #e65100;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-text button {
    padding: 12px 30px;
    background: #e65100;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hero-image img {
    width: 400px;
}
/* Categories */
.categories {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px 0;
    background: #f4f4f4;
}

.category-card {
    background: white;
    width: 180px;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.category-card img {
    width: 100%;
    border-radius: 10px;
}

.category-card h3 {
    margin-top: 10px;
}
/* Featured Section */
.featured {
    padding: 50px 60px;
    background: #f9f9f9;
}

.featured h2 {
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    gap: 25px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #e65100;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Footer */
.footer {
    background: #f4f4f4;
    padding: 50px 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-column h3 {
    margin-bottom: 15px;
}

.footer-column p {
    margin: 8px 0;
    color: #555;
    cursor: pointer;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
}

.app-download p {
    margin: 10px 0 15px;
    color: #555;
}

.app-buttons img {
    height: 45px;
    margin-right: 15px;
    cursor: pointer;
}

.social-icons i {
    font-size: 18px;
    margin-right: 15px;
    background: #e0e0e0;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.copyright-payment {
    margin-top: 20px;
}

.payment-icons img {
    height: 25px;
    margin-left: 30px;
}
